
<br>
<div class = "card">
  <p class ="comment"><%= @question %></p>
  <p class ="tag">- You</p>
</div>
<br>
<div class = "card" id ="coach">
  <p class ="comment"><strong><%= @answer %></strong></P>
  <p class ="tag">- Your Coach</p>
</div>
